{% extends 'base.html' %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock  %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <ul>
      <li>
        Всего постов автора: {{ post.author.posts.count }}
      </li>
    </ul>
    {% include 'posts/includes/card_post.html' %}
    {% if post.author.id == request.user.id %}
      <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">Редактировать запись</a>
    {% endif %}
    {% include 'posts/includes/comments.html' with comments=post.comments.all %}
  </div>
</div>
{% endblock %}

